.custom-card {
    
    background-color:rgb(255, 255, 255);
    box-shadow: rgb(139, 76, 128);
    border-radius: 10px;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 200px;
   


    
}



